{% extends "base.html" %}
{% load static %}

{% block body %}


<table class=" table table-sm">

    <tr>
        <thead>
            <th>Name Of Item</th>
            <th>Supplier</th>
            <th>Description Notes</th>
            <th>Expected Date of Delivery</th>
            <th>Status</th>
            <th>Action</th>
        </thead>
    </tr>
    {% for c in cl %}
    <tr>
        <td>{{c.Name_of_item}} </td>
        <td>{{c.Supplier}}</td>
        <td>{{c.Description_notes}}</td>
        <td>{{c.Expected_Date_Delivery}}</td>
        <td>{{c.Status}}</td>
    </tr>
    {% endfor %}
    <button><a class="btn btn-primary btn-sm btn block" href="{url 'pages/Client_create'}">Add Item</a></button>


</table>
{% endblock %}